<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<br><br><br>
<input type="button" value="VIEW CARS"
       onclick="window.location.href = 'cars'"/>
<input type="button" value="VIEW 2 CARS"
       onclick="window.location.href = 'cars?count=2'"/>

<input type="button" value="VIEW 4 CARS"
       onclick="window.location.href = 'cars?count=4'"/>

<input type="button" value="VIEW MORE THAN 5 CARS"
       onclick="window.location.href = 'cars?count=5'"/>

</body>
</html>